a {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline;
}

.section {
  z-index: 5;
  width: 100%;
  height: 100%;
  max-height: 680px;
  max-width: 970px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #036;
  background-image: url('../images/Constelación-CMYK.png'), linear-gradient(rgba(0, 31, 62, .4), rgba(0, 31, 62, .4)), url('../images/iStock-1215130227-2-WOcons-kopia.jpg');
  background-position: 50% 32px, 0 0, 50% 0;
  background-repeat: no-repeat, repeat, repeat;
  background-size: 150px, auto, cover;
  border: 1px solid rgba(255, 255, 255, .44);
  border-radius: 20px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  padding: 32px;
  display: grid;
  position: relative;
  top: 50%;
  overflow: hidden;
  transform: translate(0, -50%);
  box-shadow: 0 15px 20px rgba(11, 41, 71, .78);
}

.section.bg_cpe {
  width: 100%;
  max-height: 860px;
  max-width: 1120px;
  grid-column-gap: 0px;
  background-image: url('../images/iStock-1215130227-2-WOcons-kopia.jpg');
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: cover;
  border-color: rgba(255, 255, 255, .5);
  grid-template-rows: auto;
  grid-template-columns: 1fr 544px .25fr;
  padding: 32px;
  top: 0%;
}

.section.flex {
  background-image: url('../images/Mask-Group-72.png'), url('../images/Con-stellation-CMYK.png'), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/iStock-1215130227-2-WOcons-kopia.jpg');
  background-position: 39% 0, 50% 32px, 0 0, 50%;
  background-size: cover, 390px, auto, cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section.flex.home {
  background-image: url('../images/iStock-1215130227-2-WOcons-kopia.jpg');
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: cover;
}

.section.cpe {
  max-height: 870px;
  grid-column-gap: 0px;
  background-image: linear-gradient(rgba(0, 31, 62, .4), rgba(0, 31, 62, .4)), url('../images/Artboard-–-5.jpg');
  background-position: 0 0, 50% 0;
  background-repeat: repeat, repeat;
  background-size: auto, cover;
  grid-template-columns: auto minmax(auto, 646px) 162px;
  align-items: center;
  padding-top: 0;
}

.section.memoria {
  background-image: url('../images/Constelación-CMYK.png'), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/Artboard-–-5.jpg');
}

.card-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.card {
  width: 160px;
  height: 210px;
  max-height: 210px;
  max-width: 13vw;
  min-height: 210px;
  min-width: 160px;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background-color: #036;
  background-image: url('../images/Logo_Cntr_Elite_Gray_R_EN-04.png'), url('../images/iStock-1215130227-2-WOcons-kopia.jpg');
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 130%, auto 420%;
  border: 1px solid #5b5b5b;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
  box-shadow: 0 20px 100px #092138;
}

.card.active {
  background-image: linear-gradient(#cdcdcd, #cdcdcd);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
}

.card.hidden {
  background-image: url('../images/Screenshot_2022-08-15_at_19.49.38-removebg-preview.png'), url('../images/Mask-Group-72.png');
  display: none;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 16px;
  transition: all .6s;
  position: relative;
  box-shadow: 0 20px 70px rgba(0, 0, 0, .29);
}

.flip-card-front {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: none;
  background-size: auto;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  position: absolute;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #fff;
  background-color: #036;
  background-image: url('../images/Mask-Group-60-1.png');
  background-position: 100% 0;
  background-size: cover;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.heading {
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.lottie-animation {
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: scale(2);
}

.image {
  z-index: 2;
  position: relative;
}

.section-2 {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link {
  color: #fff;
  background-color: #0085bf;
  border-radius: 20px;
  justify-content: center;
  margin-left: 8px;
  margin-right: 8px;
  padding: 26px;
  font-size: 25px;
  text-decoration: none;
  display: flex;
}

.div-block-17 {
  display: flex;
}

.popup-content-wrapper---brix {
  z-index: 100;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 14px rgba(74, 58, 255, .16), 0 -2px 4px rgba(20, 20, 43, .12), 0 12px 44px rgba(20, 20, 43, .34);
}

.popup-content-wrapper---brix.popup-1-content-wrapper---brix-copy {
  width: 100%;
  max-width: 690px;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}

.popup-content-wrapper---brix.popup-1-content-wrapper---brix-copy-instrucciones {
  max-width: 690px;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}

.overlay---brix {
  z-index: 10;
  background-color: rgba(0, 0, 0, .61);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.close-popup---brix {
  cursor: pointer;
  transition: transform .2s;
  display: none;
  position: absolute;
  top: 24px;
  bottom: auto;
  left: auto;
  right: 24px;
}

.close-popup---brix:hover {
  transform: scale(.9);
}

.popup-1---brix {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  text-align: center;
  background-color: #d7d7d7;
  background-image: url('../images/Mask-Group-72.png'), url('../images/iStock-1215130227-2-WOcons-kopia.jpg');
  background-position: 0%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: auto 100%, auto;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 262px 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 16px;
  display: flex;
  position: relative;
}

.popup-1---brix.grid {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 262px 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.popup {
  z-index: 99999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup.absolute {
  transition: all .2s;
  display: none;
  position: absolute;
}

.popup.absolute.thx, .popup.form {
  display: none;
}

.popup.form.conte {
  display: flex;
}

.popup.instructions {
  display: none;
}

._21y {
  background-color: #036;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 8px;
  font-weight: 700;
}

._21y.no {
  color: #db4b68;
  background-color: #fff;
  border: 1px solid #db4b68;
}

.paragraph-72 {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  display: block;
}

.paragraph-72.white {
  color: #fff;
  font-size: 20px;
}

.body {
  color: #036;
  background-color: #036;
  background-image: url('../images/Mask-Group-72.png');
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  overflow: hidden;
}

.div-block-18 {
  box-shadow: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0;
  display: flex;
}

.div-block-19 {
  width: 100%;
}

.simon_markup {
  display: block;
  position: relative;
  overflow: visible;
}

.simon {
  opacity: 1;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  display: block;
  overflow: visible;
}

.simon.next {
  left: 92%;
}

.image-2 {
  width: 220px;
  height: 100px;
}

.image-3 {
  width: 100%;
  display: block;
  position: relative;
}

.div-block-20 {
  max-width: 950px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.div-block-21 {
  display: none;
  position: relative;
  overflow: visible;
}

.constelacion {
  width: 32px;
  height: 32px;
  opacity: .81;
  filter: blur(5px);
  background-color: #03a64a;
  border: 4px solid rgba(255, 255, 255, .55);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 47%;
  bottom: auto;
  left: 29%;
  right: auto;
}

.constelacion.yellow {
  background-color: #cba705;
  top: 17%;
  left: 46%;
}

.constelacion.red {
  background-color: #a60303;
  top: auto;
  bottom: 18%;
  left: auto;
  right: 24%;
}

.constelacion.red.light {
  background-color: #035fa6;
}

.div-block-23 {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
}

.t-l {
  width: 32px;
  height: 32px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.t-l.inline.push.green {
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.t-l.inline.push.green.unclickable.edit {
  border-radius: 190px;
  top: auto;
  bottom: 0%;
  left: auto;
  right: -19%;
  transform: translate(152px, -157px);
}

.div-block-24 {
  position: relative;
}

.button {
  width: 32px;
  height: 32px;
  background-color: #03a64a;
  border-radius: 20px;
  position: absolute;
  top: auto;
  bottom: 41%;
  left: 26%;
  right: auto;
}

.button.yellow {
  bottom: 31%;
  left: 31%;
}

.button.red {
  bottom: 37%;
  left: 62%;
}

.script {
  display: none;
}

.gameboard {
  width: 100%;
  max-width: 900px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #2c2c2c;
  background-image: none;
  border-radius: 32px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  margin-top: 0;
  padding: 16px;
  display: grid;
}

.settings {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  display: none;
}

.animations {
  cursor: pointer;
  display: none;
}

.div-block-26 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, .03);
  border: 4px solid rgba(255, 255, 255, .35);
  border-radius: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.scoreboard {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: rgba(255, 255, 255, .03);
  border: 1px rgba(255, 255, 255, .21);
  border-radius: 32px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 16px;
  display: grid;
}

.div-block-27 {
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.text-block {
  max-width: 12ch;
  color: #fff;
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.text-block-2 {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.heading-2 {
  color: #fff;
  text-align: left;
  margin-top: 0;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2em;
}

.link-block {
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

.div-block-28 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button-2 {
  width: 100%;
  max-width: 300px;
  text-transform: uppercase;
  background-color: #036;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 11px 8px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 40px;
  display: flex;
  box-shadow: 0 11px 20px rgba(4, 35, 66, .57);
}

.button-2.hidden {
  min-width: 260px;
  text-align: center;
  font-size: 19px;
  line-height: 20px;
  display: none;
}

.image-4 {
  max-width: 120px;
  margin-left: auto;
  position: static;
}

.image-5 {
  width: 110px;
}

.text-block-3 {
  max-width: 27ch;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}

.text-block-3.left {
  text-align: left;
}

.div-block-29 {
  padding: 0 16px 16px;
}

.div-block-30 {
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  display: none;
}

.div-block-30.left {
  text-align: left;
  align-items: flex-start;
  padding: 0;
  display: block;
}

.div-block-31 {
  display: flex;
}

.bold-text {
  display: block;
}

.gluco {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.div-block-32 {
  padding: 16px;
}

.simonsays {
  position: absolute;
}

.form-block, .form {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.submit-button {
  height: auto;
  background-color: #036;
  border-radius: 110px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
}

.paragraph-73 {
  color: #fff;
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
}

.heading-3 {
  color: #fff;
  text-align: left;
}

.div-block-33 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
  padding-top: 16px;
  display: flex;
}

.select-field {
  height: 50px;
  border: 2px solid #036;
  border-radius: 70px;
  font-size: 20px;
}

.select-field.hidden {
  display: none;
}

.text-field {
  height: 50px;
  border: 2px solid #036;
  border-radius: 60px;
}

.text-field.warning {
  border-color: red;
}

.div-block-34 {
  position: relative;
}

.chart {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  transform: scale(1.11);
}

.chartscript {
  display: none;
}

.image-6 {
  max-width: 110px;
}

.simon_script {
  display: none;
}

.show_turn {
  width: 100%;
  color: #000;
  text-align: center;
  padding-top: 0;
  font-family: Inconsolata, monospace;
  font-size: 14px;
  font-weight: 700;
}

.button_strict {
  transition: transform .2s;
  display: none;
  position: relative;
}

.button_reset {
  border-radius: 40px;
  position: relative;
}

.button_reset.margin {
  z-index: 6;
  color: #dcdcdb;
  background-color: rgba(255, 255, 255, 0);
  background-image: radial-gradient(circle, #212222 16%, rgba(41, 41, 41, 0) 71%);
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding: 18px 31px 30px 9px;
  font-size: 23px;
  font-weight: 700;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 30%;
  left: auto;
  right: 20%;
  transform: rotate(3deg);
}

.show_strict {
  width: 100%;
  color: #000;
  font-family: Inconsolata, monospace;
  position: absolute;
  top: 4px;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

.simon-button {
  width: 100%;
  height: 100%;
  position: static;
}

.simon-button.simon-1 {
  z-index: 3;
  background-image: url('../images/Con-stellation-CMYK-5.png');
  background-position: 50%;
  background-size: cover;
  top: 34%;
  bottom: auto;
  left: 25%;
  right: auto;
}

.simon-button.simon-1.hidden {
  display: none;
}

.simon-button.simon-2 {
  background-image: url('../images/Con-stellation-CMYK-6.png');
  background-position: 50%;
  background-size: cover;
  top: 6%;
  bottom: auto;
  left: 42%;
  right: auto;
}

.simon-button.simon-2.hidden {
  height: 1%;
  display: none;
}

.simon-button.simon-3 {
  background-image: url('../images/Con-stellation-CMYK-7.png');
  background-position: 50%;
  background-size: contain;
  top: 59%;
  bottom: auto;
  left: 68%;
  right: auto;
}

.simon-button.simon-3.hidden {
  display: none;
}

.div-block-35 {
  position: relative;
}

.key_info {
  z-index: 4;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  font-weight: 700;
  display: none;
  position: relative;
}

.div-block-36 {
  max-width: 340px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.touch {
  z-index: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, .02);
  border: .8px dashed rgba(255, 255, 255, .68);
  border-radius: 90px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(-50%, -50%)scale(2.2);
}

.touch.instruct {
  border-color: #fff;
  margin-top: 18px;
  position: static;
  top: 0%;
  transform: translate(0%);
}

.touch.instruct.red {
  border-color: #fff;
}

.touch.red {
  border-color: #c14a55;
  top: 78%;
  left: 74%;
}

.touch.yellow {
  border-color: #e0a82f;
  top: 35%;
  left: 47%;
}

.touch.green {
  border-color: #339582;
  top: 60%;
  left: 31%;
}

.div-block-37 {
  z-index: 0;
  width: 190px;
  height: 170px;
  text-align: center;
  background-color: #b4c3b3;
  background-image: linear-gradient(121deg, rgba(0, 0, 0, .27), rgba(0, 0, 0, .01));
  border-radius: 16px 16px 40px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  display: flex;
  position: absolute;
  top: 161px;
  bottom: auto;
  left: 49%;
  right: auto;
  transform: translate(-50%, -50%);
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .32);
}

.div-block-38 {
  font-size: 14px;
  position: relative;
}

.light {
  color: #fff;
}

.light.bold {
  font-size: 20px;
  font-weight: 700;
}

.light.top {
  margin-top: 40px;
}

.lottie-animation-2 {
  filter: brightness(1080%);
}

.strict_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

.div-block-40 {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 32px;
  display: flex;
}

.div-block-41 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.image-7 {
  width: 100%;
  min-width: 180px;
  object-fit: contain;
}

.background-video {
  width: 410px;
  height: 170px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

.hue_light {
  width: 120px;
  height: 47px;
  box-shadow: none;
  filter: saturate(200%);
  background-color: red;
  border-radius: 100px 90px 130% 130%;
  margin-left: -7px;
  position: absolute;
  top: auto;
  bottom: 105px;
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

.image-8 {
  max-height: 64px;
}

.text-block-4 {
  color: #000;
  font-family: Inconsolata, monospace;
  display: none;
}

.heading-4.white {
  color: #fff;
}

.div-block-42 {
  display: flex;
}

.heading-5 {
  color: #fff;
  margin-top: 0;
  padding-left: 8px;
  font-size: 30px;
}

.div-block-43 {
  width: 100%;
  text-align: center;
  position: static;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.wrapper {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 32px;
  display: flex;
  position: absolute;
  transform: translate(0);
}

.wrapper.cpe {
  justify-content: center;
  margin-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  position: static;
}

.lottie-animation-3 {
  z-index: 1;
  opacity: .33;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.alerta_pantalla {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #036;
  justify-content: center;
  align-items: center;
  padding: 16px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.lottie-animation-4 {
  height: 128px;
}

.div-block-46 {
  max-width: 320px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-47 {
  max-width: 190px;
  background-color: #036;
  border-radius: 20px;
  padding: 32px 16px;
}

.heading-6 {
  color: #fff;
  margin-top: 0;
  font-size: 30px;
}

.gameboard-2 {
  width: 100%;
  max-width: 900px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #2c2c2c;
  background-image: none;
  border-radius: 32px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  margin-top: 0;
  padding: 16px;
  display: grid;
}

.button-3 {
  width: 100%;
  background-color: #ec3859;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 11px 16px;
  font-size: 22px;
  font-weight: 800;
  line-height: 40px;
  display: none;
  box-shadow: 0 11px 20px rgba(4, 35, 66, .57);
}

.button-3.hidden {
  font-size: 19px;
  line-height: 20px;
  display: block;
}

.image-9 {
  max-width: 110px;
}

.div-block-48 {
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.text-block-5 {
  max-width: 12ch;
  color: #fff;
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
}

.scoreboard-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: rgba(255, 255, 255, .03);
  border: 1px rgba(255, 255, 255, .21);
  border-radius: 32px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 16px;
  display: flex;
}

.card-2 {
  width: 200px;
  height: 300px;
  max-height: 30vh;
  max-width: 13vw;
  min-height: 150px;
  min-width: 100px;
  clear: left;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background-color: #cfcfcf;
  background-image: url('../images/Group-17027-1.webp'), none;
  background-position: 50%, 27%;
  background-repeat: no-repeat, repeat;
  background-size: 70%, cover;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
  box-shadow: 0 20px 100px #092138;
}

.section-3 {
  width: 100%;
  height: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
  background-color: #036;
  background-image: url('../images/Mask-Group-72.png'), none, linear-gradient(rgba(0, 31, 62, .4), rgba(0, 31, 62, .4)), none;
  background-position: 0 0, 50% 32px, 0 0, 50%;
  background-repeat: no-repeat, no-repeat, repeat, repeat;
  background-size: cover, 390px, auto, cover;
  flex-direction: column;
  grid-template-rows: auto 55px;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  padding: 32px;
  display: grid;
}

.div-block-49 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, .03);
  border: 4px solid rgba(255, 255, 255, .35);
  border-radius: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cal-vh {
  display: none;
}

.heading-7 {
  z-index: 30;
  max-width: 30ch;
  opacity: .45;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 32px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.div-block-50 {
  color: #000;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  font-family: Inconsolata, monospace;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-block-6 {
  padding-right: 8px;
  font-weight: 400;
}

.image-10 {
  height: 80px;
  padding-top: 16px;
}

.messages_script {
  display: none;
}

.prize-claim-btn {
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, .39);
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
}

.div-block-51 {
  display: none;
}

.text-block-7 {
  width: 100%;
  color: #fff;
  cursor: pointer;
  background-color: #036;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: all .2s;
}

.text-block-7:hover {
  transform: translate(0, 4px);
}

.image-12 {
  max-height: 160px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  background-color: #036;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.heading-8, .field-label {
  color: #fff;
}

.submit-button-2, .text-field-2 {
  border-radius: 20px;
}

.heading-9, .heading-10 {
  width: 100%;
  color: #fff;
}

.superscript {
  line-height: 1;
}

.superscript-2 {
  line-height: 1.1;
}

@media screen and (min-width: 1280px) {
  .section.bg_cpe {
    grid-template-columns: .25fr 1fr .5fr;
    display: grid;
  }

  .heading-2 {
    font-size: 50px;
    line-height: 70px;
  }

  .text-block-3.left {
    font-size: 21px;
  }
}

@media screen and (min-width: 1440px) {
  .simon-button.simon-1 {
    top: 39%;
    left: 26%;
  }

  .simon-button.simon-2 {
    top: 7%;
    left: 43%;
  }

  .simon-button.simon-3 {
    top: 63%;
    left: 69%;
  }

  .link-block-2 {
    width: 100%;
    color: #fff;
    background-color: #036;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  }
}

@media screen and (min-width: 1920px) {
  .text-block {
    max-width: 12ch;
    line-height: 20px;
  }

  .simon-button.simon-1 {
    top: 43%;
    left: 27%;
  }

  .simon-button.simon-2 {
    top: 10%;
    left: 44%;
  }

  .simon-button.simon-3 {
    top: 67%;
    left: 70%;
  }

  .text-block-5 {
    max-width: 12ch;
    line-height: 20px;
  }
}

@media screen and (max-width: 991px) {
  .section {
    max-height: 860px;
    background-image: url('../images/Mask-Group-72.png'), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/iStock-1215130227-2-WOcons-kopia.jpg');
    background-position: -350px 0, 0 0, 50%;
    border-color: #5b5b5b;
    grid-template-columns: 1fr;
    padding-top: 144px;
    position: relative;
    transform: translate(0, -50%);
  }

  .section.flex.home {
    flex-direction: row;
    padding-top: 32px;
  }

  .section.cpe {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/Artboard-–-5.jpg');
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    grid-template-columns: auto 1fr;
    top: 0%;
    transform: none;
  }

  .card {
    width: 150px;
    height: 230px;
    max-height: 230px;
    max-width: 150px;
    min-height: 230px;
    min-width: 150px;
    border: 1px solid #5b5b5b;
  }

  .link {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .popup-content-wrapper---brix {
    width: auto;
  }

  .popup-content-wrapper---brix.popup-1-content-wrapper---brix-copy, .popup-content-wrapper---brix.popup-1-content-wrapper---brix-copy-instrucciones {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 24px;
    right: 24px;
  }

  .popup.absolute {
    padding-left: 32px;
    padding-right: 32px;
  }

  .popup.instructions {
    display: none;
  }

  .body {
    height: 100vh;
    font-size: 14px;
  }

  .body.home {
    height: auto;
  }

  .div-block-20 {
    max-width: 470px;
  }

  .gameboard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .div-block-26 {
    width: 64px;
    height: 32px;
  }

  .div-block-26.memoria {
    width: 100px;
    height: 100px;
  }

  .scoreboard {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-radius: 0;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 47px;
    padding: 16px;
    display: grid;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .div-block-27 {
    flex-direction: row;
  }

  .text-block {
    max-width: none;
    margin-top: 0;
    padding-left: 8px;
    font-size: 14px;
  }

  .text-block-2 {
    font-size: 17px;
  }

  .heading-2 {
    text-align: center;
    font-size: 41px;
    line-height: 61px;
  }

  .div-block-28 {
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 50%;
    transform: translate(50%);
  }

  .button-2 {
    max-width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 17px;
  }

  .button-2.hidden {
    display: none;
  }

  .text-block-3 {
    max-width: none;
    font-size: 22px;
  }

  .div-block-29 {
    width: 100%;
    display: none;
  }

  .div-block-31 {
    flex-direction: column;
  }

  .paragraph-73 {
    font-size: 1em;
  }

  .heading-3 {
    font-size: 1.5em;
  }

  .select-field {
    height: 32px;
    font-size: 11px;
  }

  .text-field {
    height: 32px;
  }

  .div-block-34 {
    position: relative;
  }

  .progressbar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .circle {
    height: 100%;
    text-align: center;
    position: relative;
  }

  .circle-internal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .html-embed {
    display: none;
    overflow: visible;
  }

  .chart {
    display: block;
  }

  .chart.hidden {
    display: none;
  }

  .image-6 {
    max-height: 107px;
    max-width: 100px;
  }

  .button_reset.margin {
    padding-bottom: 16px;
    padding-right: 16px;
    bottom: 32%;
    right: 22%;
  }

  .div-block-36 {
    max-width: 290px;
  }

  .touch {
    width: 27px;
    height: 27px;
  }

  .touch.red {
    top: 82%;
  }

  .touch.green {
    top: 62%;
    left: 31%;
  }

  .div-block-37 {
    width: 163px;
    height: 150px;
    border-radius: 10px 10px 20px 20px;
    top: 143px;
  }

  .image-7 {
    max-height: 200px;
  }

  .hue_light {
    width: 90px;
    bottom: 85px;
  }

  .wrapper {
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }

  .wrapper.cpe {
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    position: static;
  }

  .gameboard-2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .button-3 {
    max-width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 17px;
    display: block;
  }

  .button-3.hidden {
    display: none;
  }

  .image-9 {
    max-height: 107px;
    max-width: 227px;
  }

  .scoreboard-2 {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-radius: 0;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 47px;
    display: grid;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .card-2 {
    width: 110px;
    height: 180px;
    max-height: 180px;
    max-width: 110px;
    min-height: 180px;
    min-width: 110px;
  }

  .section-3 {
    background-image: url('../images/Mask-Group-72.png'), none, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), none;
    background-position: -350px 0, 50% 30%, 0 0, 50%;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    display: flex;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .section {
    height: auto;
    max-height: 1040px;
    box-shadow: none;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
    padding: 48px 0 0;
    transform: translate(0, -50%);
  }

  .section.cpe {
    grid-template-columns: auto;
    align-items: center;
    display: flex;
  }

  .section.memoria {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
    border-color: #fff;
    top: 0%;
    transform: none;
  }

  .card {
    width: 120px;
    height: 180px;
    max-height: 180px;
    max-width: 120px;
    min-height: 180px;
    min-width: 120px;
    box-shadow: none;
  }

  .popup-content-wrapper---brix.popup-1-content-wrapper---brix-copy {
    max-width: 90%;
    border-radius: 20px;
    left: 24px;
    right: 24px;
  }

  .popup-content-wrapper---brix.popup-1-content-wrapper---brix-copy-instrucciones {
    max-width: none;
    border-radius: 20px;
    left: 24px;
    right: 24px;
  }

  .popup-1---brix {
    max-width: none;
    grid-row-gap: 0px;
    flex-direction: column;
    padding: 16px;
    display: flex;
  }

  .popup-1---brix.instructions {
    background-image: url('../images/iStock-1215130227-2-WOcons-kopia.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
  }

  .popup-1---brix.grid {
    max-width: 100%;
    grid-template-columns: auto 1fr;
    display: flex;
  }

  .popup {
    padding-left: 24px;
    padding-right: 24px;
  }

  .popup.form.conte {
    display: flex;
  }

  .popup.instructions {
    display: none;
  }

  .paragraph-72.white {
    font-size: 16px;
  }

  .body {
    background-image: url('../images/Mask-Group-72.png');
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 16px;
    padding-right: 16px;
  }

  .body.cpe {
    background-image: url('../images/Mask-Group-72.png');
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .div-block-18 {
    width: 100%;
  }

  .div-block-19 {
    display: none;
  }

  .simon_markup {
    max-height: 250px;
    max-width: 630px;
  }

  .div-block-20 {
    width: 100%;
    max-width: none;
  }

  .gameboard {
    border-radius: 0 0 20px 20px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    display: flex;
    overflow: hidden;
  }

  .div-block-26 {
    width: 70px;
    height: 32px;
  }

  .div-block-26.memoria {
    height: 32px;
  }

  .scoreboard {
    background-color: #036;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .div-block-27 {
    flex-direction: row;
  }

  .div-block-27.mob_hidden {
    display: flex;
  }

  .text-block {
    max-width: none;
    margin-top: 0;
    padding-left: 8px;
    font-size: 13px;
  }

  .text-block-2 {
    font-size: 18px;
  }

  .form-block {
    font-size: 13px;
    line-height: 10px;
  }

  .select-field {
    max-width: 281px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-field {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .chart, .image-6, .button_strict {
    display: none;
  }

  .button_reset.margin {
    padding: 19px 17px;
  }

  .div-block-36 {
    margin-top: -32px;
  }

  .touch.red {
    top: 80%;
  }

  .touch.yellow {
    top: 33%;
    left: 48%;
  }

  .touch.green {
    top: 60%;
    left: 31%;
  }

  .light.top {
    margin-top: 32px;
  }

  .div-block-40 {
    margin-top: 16px;
  }

  .div-block-40.center {
    align-items: center;
  }

  .image-7 {
    max-height: 180px;
  }

  .div-block-42.hidden {
    display: none;
  }

  .wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .wrapper.cpe {
    background-color: #036;
    background-image: url('../images/Mask-Group-72.png');
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 0;
    justify-content: center;
  }

  .div-block-47 {
    max-width: none;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    display: flex;
  }

  .div-block-47.hidden {
    display: none;
  }

  .heading-6 {
    font-size: 20px;
  }

  .gameboard-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .text-block-5 {
    font-size: 17px;
  }

  .card-2 {
    max-height: 30vmin;
  }

  .section-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .div-block-49 {
    width: 64px;
    height: 64px;
  }

  .heading-7 {
    font-size: 3rem;
    top: 32px;
  }

  .div-block-51 {
    width: 128px;
    height: 30px;
    color: #fff;
    background-color: #d73c4e;
    border-radius: 120px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: flex;
    position: fixed;
    top: auto;
    bottom: 45px;
    left: 8px;
    right: auto;
  }

  .image-11 {
    max-height: 120px;
    max-width: 300px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-left: 0;
    padding-right: 0;
  }

  .card {
    width: 90px;
    height: 150px;
    max-height: 150px;
    max-width: 90px;
    min-height: 150px;
    min-width: 90px;
  }

  .popup-content-wrapper---brix {
    border-radius: 24px;
  }

  .popup-content-wrapper---brix.popup-1-content-wrapper---brix-copy, .popup-content-wrapper---brix.popup-1-content-wrapper---brix-copy-instrucciones {
    border-radius: 16px;
    left: 16px;
    right: 16px;
  }

  .popup-1---brix {
    padding: 40px 16px 32px;
  }

  .popup-1---brix.grid {
    display: flex;
  }

  .popup {
    padding-left: 16px;
    padding-right: 16px;
  }

  .paragraph-72, .paragraph-72.white {
    font-size: 14px;
  }

  .body {
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-18 {
    padding: 0;
  }

  .div-block-19 {
    display: none;
  }

  .gameboard {
    max-width: 100%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border-radius: 0;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-around;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
  }

  .div-block-26 {
    width: 80px;
    height: 30px;
    border-width: 1px;
    font-size: 16px;
  }

  .scoreboard {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding-left: 16px;
    padding-right: 16px;
  }

  .div-block-27 {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .div-block-27.mob_hidden {
    display: none;
  }

  .text-block {
    max-width: none;
    font-size: 9px;
  }

  .text-block-2 {
    font-size: 15px;
  }

  .link-block {
    padding-top: 0;
    padding-bottom: 8px;
    font-size: 10px;
  }

  .div-block-28 {
    grid-row-gap: 0px;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .button-2 {
    margin-top: 8px;
    padding: 0;
    font-size: 13px;
  }

  .heading-3 {
    font-size: 1em;
    line-height: 19px;
  }

  .image-6 {
    max-height: 70px;
  }

  .show_turn {
    font-size: 12px;
  }

  .button_reset.margin {
    padding-bottom: 16px;
    padding-right: 16px;
    font-size: 15px;
    bottom: 32%;
    right: 22%;
  }

  .div-block-36 {
    max-width: 230px;
    margin-top: -22px;
  }

  .touch {
    width: 16px;
    height: 17px;
  }

  .touch.red {
    width: 20px;
    height: 21px;
    top: 83%;
    left: 73%;
  }

  .touch.yellow {
    width: 20px;
    height: 20px;
    top: 40%;
    left: 48%;
  }

  .touch.green {
    width: 20px;
    height: 20px;
    top: 64%;
    left: 31%;
  }

  .div-block-37 {
    width: 137px;
    height: 120px;
    font-size: 13px;
    top: 112px;
  }

  .strict_container {
    display: none;
  }

  .image-7 {
    max-height: 120px;
  }

  .hue_light {
    bottom: 69px;
  }

  .heading-4 {
    font-size: 18px;
  }

  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .gameboard-2 {
    max-width: 100%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px;
  }

  .button-3 {
    margin-top: 8px;
    padding: 0;
    font-size: 13px;
  }

  .image-9 {
    max-height: 50px;
  }

  .text-block-5 {
    font-size: 11px;
  }

  .scoreboard-2 {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 16px;
    padding-right: 16px;
  }

  .card-2 {
    width: 80px;
    height: 100px;
    max-height: 100px;
    max-width: 80px;
    min-height: 100px;
    min-width: 80px;
  }

  .section-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-49 {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  .heading-7 {
    font-size: 2em;
  }

  .div-block-50 {
    font-size: 11px;
  }

  .div-block-51 {
    font-size: 12px;
    top: 16px;
    bottom: auto;
    left: 8px;
    right: auto;
  }
}

#w-node-_30567c4e-48a6-90fd-9b04-1eb806a2ca38-431d6871, #prize-claim.w-node-e91016f4-133b-b6a4-c33a-aec599d1033c-431d6871 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0ac6d94d-b987-e9ca-1b44-66f0676910f3-431d6871 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: center;
}

#w-node-_020dcf02-ccae-7202-2104-f734f5e62e86-431d6871 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#gameboard.w-node-_80523cc5-a9b6-adf3-f674-450d51113923-431d6871 {
  align-self: center;
  justify-self: end;
}

#w-node-_8d7f1e6e-936c-f5aa-9381-543613616a4a-431d6871, #w-node-_8916f427-734d-6938-6dc3-9270e33fe6cd-431d6871, #w-node-_811c8042-703d-64ab-5461-c905b9ccf54a-431d6871, #w-node-c37895cc-b8f7-6bbf-2cdb-d75798e1dd16-431d6871, #w-node-a6abe3c9-9553-27df-02c6-8c603cd8356b-431d6871, #w-node-_92d6110a-2481-308b-1b72-17576f878118-431d6871, #w-node-_6a329883-d637-fc72-9ec1-5fd38839926f-431d6871, #w-node-_25e93ad3-1748-6353-4bd9-d53e616846bc-431d6871 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#scoreboard.w-node-_9f85e405-51c4-2314-b88a-5494b7060f31-431d6871 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-ee60aef2-b7ce-d2b0-e7ad-b055e336bf04-431d6871 {
  justify-self: center;
}

#w-node-_986518ae-5736-2183-d6b6-640a6fdfb557-431d6871 {
  justify-self: end;
}

#w-node-_5b26fcf4-e30a-c317-ce3b-77dabaf5f41a-431d6871 {
  justify-self: start;
}

#w-node-_3ad5852f-9152-e416-8056-8805fe2bd819-6bc2f537 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a39f7e6a-a745-83ec-2309-2ed9c56eed51-6bc2f537 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-cbe8dcf9-e182-e480-2a67-321bb80ec68e-6bc2f537 {
  justify-self: end;
}

#w-node-cbe8dcf9-e182-e480-2a67-321bb80ec691-6bc2f537 {
  justify-self: start;
}

#w-node-_01d469e5-57b2-4a49-8874-5648bcb812e5-6bc2f537 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#link-strict.w-node-a661fc9a-13e8-5bcf-426d-eb26e3f5ad56-6bc2f537 {
  justify-self: center;
}

#w-node-_8343a3f7-6239-c14f-abe3-7e78437d9151-6bc2f537 {
  align-self: center;
  justify-self: center;
}

#w-node-_14ddeafe-eb5c-e3f7-10be-8df9c88ab13e-6bc2f537, #w-node-_55c46bb6-4297-a9d3-3634-0c212492b094-6bc2f537, #w-node-_21744f53-7b1e-bc38-5ad9-c08ddf9e3095-6bc2f537 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_8916f427-734d-6938-6dc3-9270e33fe6cd-431d6871, #w-node-_811c8042-703d-64ab-5461-c905b9ccf54a-431d6871, #w-node-c37895cc-b8f7-6bbf-2cdb-d75798e1dd16-431d6871, #w-node-a6abe3c9-9553-27df-02c6-8c603cd8356b-431d6871, #w-node-_92d6110a-2481-308b-1b72-17576f878118-431d6871, #w-node-_6a329883-d637-fc72-9ec1-5fd38839926f-431d6871, #w-node-_25e93ad3-1748-6353-4bd9-d53e616846bc-431d6871 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-ee60aef2-b7ce-d2b0-e7ad-b055e336bf04-431d6871 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }

  #w-node-_01d469e5-57b2-4a49-8874-5648bcb812e5-6bc2f537 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_3bde6355-baa0-d93d-b44c-232e0717dbd0-6bc2f537 {
    align-self: end;
  }

  #w-node-_73975ead-a995-b08c-efaf-82bcbc15b476-6bc2f537 {
    justify-self: start;
  }

  #w-node-_8343a3f7-6239-c14f-abe3-7e78437d915e-6bc2f537 {
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_385c1304-920b-0b4a-2acf-7b5734dad9fe-431d6871 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-ee60aef2-b7ce-d2b0-e7ad-b055e336bf04-431d6871 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
  }
}


